<div class="container">

<%= form_for(@trail) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image_path %>
  <%= f.text_field :image_path %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :description %>
  <%= f.text_field :description %>


  <div class="form-group">
    <%= f.label "Tags" %>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |c| %>
        <div class="checkbox">
              <%= c.check_box %>
              <%= c.label %>
        </div>
      <% end %>

    </div>
    
  <%= f.submit %>

<% end %>

</div>
