<div class="container">

    <div class= "col-md-9">
        <h2><%= @trail.name %></h2>
      <div class = "thumbnail">
        <div class = "img">
          <%= image_tag @trail.image_path %>
        </div>
        <div class="caption-full">
          <h5> <%= @trail.city %>, <%= @trail.state %></h5>
          <p><%= @trail.description %></p>
          <p> <em>Submitted by <%= @trail.user.username %> on <%= @trail.created_at %></em></p>
          <p>

            <% @trail.tag_list.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </p>
      </div>
    </div>

    <% if current_user == @trail.user %>
      <%= link_to "Edit", edit_trail_path(@trail) %>
      <%= link_to "Delete", trail_path(@trail), method: :delete, data: {confirm: "Delete this trail? Really?"} %>
    <% end %>

</div>
